.video-wrapper {

	.box-shadow(inset 0px -23px 5px 10px rgba(0,0,0,0.75));
	.background-video {
		width: 100%;
	}
	pointer-events: none;
}

.text-image {
	text-indent: -99999px;
	background-repeat: no-repeat;
	background-position: center center;
		background-size: cover;
}

.logo {
	position: absolute;
	top: 35%;
	margin-top: -100px;
	left: 50%;
	margin-left: -225px;
	margin-right: auto;
	width: 450px;
	height: 175px;
	background-image: url(../images/logo.png);
	background-size: cover;
}
.tagline {
	position: absolute;
	top: 45%;
	margin-right: auto;
	margin-left: 350px;
	background-image: url(../images/ridiculously-entertaining.png);
	width: 800px;
	height: 80px;
}


.nav-bar {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	height: auto;
	padding-right: 40px;
	/*background-color: rgba(0,0,0,.3);*/
}
.nav-menu {
	float: right;
}
.nav-link {
	display: inline-block;
	padding: 10px;
	color: #FFF;
	border: 2px solid #FFF;
}

section {
/*	height: 450px;*/
	width: 100%;
	padding: 40px;
	background-color: #DCDCDC;
}